html {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: ubuntu;
    font-weight: bold;
}

body {
    margin: 0%;
    margin-top: 50pt;
    margin-bottom: 50pt;
}

p {
    font-weight: 400;
    margin-top: 0pt;
    line-height: 20pt;
}

.menu {
    display: flex;
    position: fixed;
    z-index: 100;
    bottom: 10pt;
    background-color: rgb(46, 46, 46);
    width: max-content;
    border-radius: 3pt;
    left: 10pt;
}

.toTop {
    z-index: 100;
    display: flex;
    position: fixed;
    bottom: 10pt;
    background-color: rgb(46, 46, 46);
    width: max-content;
    border-radius: 3pt;
    right: 10pt;
}

.title {
    background-color: rgba(57, 57, 255, 1);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.red {
    color: rgb(255, 50, 50);
}

li {
    font-weight: 400;
}

li a {
    text-decoration: underline;
    color: white;
}

.menuBtn {
    text-decoration: none;
    font-size: 12pt;
    padding: 7pt;
    border-radius: 3pt;
}

.menuBtn:hover {
    transition: 0.4s;
    color: gray;
}

.jumboWrapper {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20pt;
    padding-top: 2pt;
    border-radius: 3pt;
}

.buttonBlock {
    margin-top: 15pt;
}

.readMoreBtn {
    color: rgb(231, 231, 231);
    background-color: rgb(57, 57, 255);
    border-radius: 20pt;
    padding: 1pt;
    font-size: 9pt;
}

.readMoreBtn:hover {
    transition: 0.4s;
    background-color: rgba(57, 57, 255, 0.5);
    border-radius: 3pt;
}

a:active {
    color: bisque !important;
}

.jumbo {
    height: 90pt;
    display: flexbox;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5pt;
    border-radius: 3pt 3pt 0pt 0pt;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: top;
    /*box-shadow: inset 0px 0px 67px -29px rgba(0,0,0,0.6);*/
}

.contentWrapper {
    border-radius: 3pt;
    background-color: rgb(48, 48, 48);
    position: relative;
    margin-top: -5pt;
}

h1 {
    color: rgb(217, 217, 255) !important;
}

.titleBlock {
    line-height: 2pt;
    color: rgb(217, 217, 255);
    border-radius: 3pt;
    padding-top: 10pt;
    padding-bottom: 1pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: -5pt;
}

.inner {
    color: rgba(255, 255, 255);
    border-radius: 3pt;
    padding-top: 1pt;
    padding-bottom: 5pt;
    margin-left: 10pt;
    margin-right: 10pt;
}

.inner p {
    margin-bottom: 10pt;
}

footer {
    font-weight: 100;
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.1);
    position: fixed;
    bottom: 17pt;
    right: 50pt;
    z-index: 99;
}

p a {
    color: rgb(50, 190, 255);
    font-family: ubuntu;
}

p a:hover {
    transition: 250ms;
    color: rgb(130, 215, 255);
}

code {
    display: inline-block;
    font-family: ubuntu mono;
    background-color: rgb(57, 57, 90);
    border-radius: 3pt;
    padding: 1pt;
    font-weight: 300;
    width: max-content;
}

.landing {
    background-color: rgb(42, 42, 42);
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 3pt;
    color: white;
    padding: 5pt;
    margin-top: 20pt;
}

.innerLanding {
    background-color: rgb(38, 38, 38);
    padding: 15pt;
    border-radius: 3pt;
}

li {
    color: rgb(217, 217, 255);
}

img {
    height: 200pt;
    border-radius: 3pt;
}

h5 {
    margin-bottom: 5pt;
}

#copyright {
    margin-bottom: -7pt;
    margin-top: 5pt;
    margin-left: 5pt;
    color: rgba(255, 255, 255, 0.5);
}

@media (pointer:none),
(pointer:coarse) {
    footer {
        visibility: hidden;
    }
    .jumboWrapper {
        margin-left: 2%;
        margin-right: 2%;
    }
    .landing {
        margin-left: 2%;
        margin-right: 2%;
    }
    body {
        margin-top: 10pt;
    }
    .readMoreBtn {
        font-size: 10pt;
    }
    .menu {
        left: 2%;
    }
    .toTop {
        right: 2%;
    }
}